
.picture{
  box-shadow:-1px 1px 11px 1px rgba(59, 59, 59, 0.63); 
}
.slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider figure {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  animation: fade 20s infinite;
  opacity: 0;

}
.slider figure:nth-child(1){
  background-image: url(img/img1.jpg);
  animation-delay: 0s;
}
.slider figure:nth-child(2){
  background-image: url(img/img2.jpg);
  animation-delay: -4s;
}
.slider figure:nth-child(3){
  background-image: url(img/img3.jpg);
  animation-delay: -8s;
}
.slider figure:nth-child(4){
  background-image: url(img/img1.jpg);
  animation-delay: -12s;
}
.slider figure:nth-child(5){
  background-image: url(img/img2.jpg);
  animation-delay: -16s;
}



@keyframes fade {
  0% {opacity: 0;}
  5% {opacity: 1;}
  25% {opacity: 1;}
  30% {opacity: 0;}
  100% {opacity: 0;}

}
.slider::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.836)
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  z-index: 1;

}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', Helvetica, sans-serif;

}
.content p {
  font-family: 'Playfair Display', Helvetica, sans-serif;
  font-size: 1rem;
}

@media(max-width:480px){
    .content h1{
        font-size: 2.5rem;
        font-weight: bolder;
       
    }
    .content{
        text-align: left;
        top: 40%;
    }

}
/* carrosel tela grande   */
@media (min-width:1024px){
  .slider figure:nth-child(1){
  background-image: url(img/img1p.png);
  animation-delay: 0s;
}
.slider figure:nth-child(2){
  background-image: url(img/img2p.png);
  animation-delay: -4s;
}
.slider figure:nth-child(3){
  background-image: url(img/img3p.png);
  animation-delay: -8s;
}
.slider figure:nth-child(4){
  background-image: url(img/img4p.png);
  animation-delay: -12s;
}
.slider figure:nth-child(5){
  background-image: url(img/img2p.png);
  animation-delay: -16s;
}




}